.on-story-each #play-audio-idx {
    margin-bottom: 160px;
}

#play-audio-idx {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 0.7rem;
    margin-bottom: 10px;
    border-radius: 50%;
    z-index: 9998;
    background-color: var(--pink-background-color);
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s ease;
}

#play-audio-idx:hover {
    transition: 0.2s ease;
    opacity: 1;
    transform: scale(1.2);
}

#play-audio-idx img {
    width: 80%;
}
