.come-in {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.come-in-background {
    background-color: #e5e9fd;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: fixed;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    z-index: 9999;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#come-in-btn-idx {
    width: 10rem;
    cursor: pointer;
    background-color: #e5e9fd;
    border: none;
}

#come-in-btn-idx img {
    width: 90%;
}

.fading {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hidden {
    display: none !important;
}

.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
}

.lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: var(--heart-background-color);
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: var(--heart-background-color);
}

.lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}
