<div class="content together">
    <h3><%= __('date_become_couple') %></h3>

    <div class="photoset">
        <div class="photoset-row">
            <figure class="photoset-item">
                <a href="https://dnvy4ykljlyqd.cloudfront.net/photos/story/agree_dating.jpg">
                    <img
                        src="https://dnvy4ykljlyqd.cloudfront.net/static/placeholder.png"
                        data-src="https://dnvy4ykljlyqd.cloudfront.net/photos/story/agree_dating.jpg"
                        data-ratio="1.5"
                    />
                </a>
            </figure>
        </div>
    </div>

    <p><%= __('date_become_couple_description') %></p>
</div>
