<div class="content together">
    <h3><%= __('date_become_couple') %></h3>

    <div class="photoset">
        <div class="photoset-row">
            <figure class="photoset-item">
                <a href="/photos/together/row_1_1_43.jpg">
                    <img
                        src="/static/placeholder.png"
                        data-src="/photos/together/row_1_1_43.jpg"
                        data-ratio="1.33"
                    />
                </a>
            </figure>
            <figure class="photoset-item">
                <a href="/photos/together/row_1_2_34.jpg">
                    <img
                        src="/static/placeholder.png"
                        data-src="/photos/together/row_1_2_34.jpg"
                        data-ratio="0.75"
                    />
                </a>
            </figure>
        </div>
    </div>

    <p><%= __('date_become_couple_description') %></p>
</div>
