<h3><%= __('child_groom') %></h3>

<div class="photoset">
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="https://dnvy4ykljlyqd.cloudfront.net/photos/story/child_groom_1.jpg">
                <img
                    data-src="https://dnvy4ykljlyqd.cloudfront.net/photos/story/child_groom_1.jpg"
                    src="https://dnvy4ykljlyqd.cloudfront.net/static/placeholder.png"
                    data-ratio="0.563"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="https://dnvy4ykljlyqd.cloudfront.net/photos/story/child_groom_2.jpg">
                <img
                    data-src="https://dnvy4ykljlyqd.cloudfront.net/photos/story/child_groom_2.jpg"
                    src="https://dnvy4ykljlyqd.cloudfront.net/static/placeholder.png"
                    data-ratio="0.749"
                />
            </a>
        </figure>
    </div>
</div>

<p><%= __('child_groom_description') %></p>
