<h3><%= __('child_bride') %></h3>

<div class="photoset">
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photo/story/child_bride_1.jpeg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photo/story/child_bride_1.jpeg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photo/story/child_bride_2.jpeg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photo/story/child_bride_2.jpeg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
    </div>
</div>

<p><%= __('child_bride_description') %></p>
