<h3><%= __('child_bride') %></h3>

<div class="photoset">
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="https://anh-lieu-wedding.b-cdn.net/photos/story/child_bride_1.jpg">
                <img
                    src="https://anh-lieu-wedding.b-cdn.net/static/placeholder.png"
                    data-src="https://anh-lieu-wedding.b-cdn.net/photos/story/child_bride_1.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="https://anh-lieu-wedding.b-cdn.net/photos/story/child_bride_2.jpg">
                <img
                    src="https://anh-lieu-wedding.b-cdn.net/static/placeholder.png"
                    data-src="https://anh-lieu-wedding.b-cdn.net/photos/story/child_bride_2.jpg"
                    data-ratio="0.6"
                />
            </a>
        </figure>
    </div>
</div>

<p><%= __('child_bride_description') %></p>
