<div class="come-in">
    <div class="come-in-background">
        <div class="middle">
            <div style="width: 100%; display: flex; justify-content: center;"><div id="heart-loader-idx" class="lds-heart"><div></div></div></div>
            <div id="loading-idx" style=" font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif; font-style: italic; color: black;"><%= __('loading') %></div>
            <button id="come-in-btn-idx" class="hidden">
                <img src="https://dnvy4ykljlyqd.cloudfront.net/static/hy-literal.png" />
                <p><%= __('click-me') %></p>
            </button>
        </div>
    </div>
</div>
