<div class="photoset">
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photos/together/row_1_1_43.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_1_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photos/together/row_1_2_34.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_1_2_34.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photos/together/row_2_1_43.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_2_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photos/together/row_2_2_43.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_2_2_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photos/together/row_2_3_43.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_2_3_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photos/together/row_3_1_43.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_3_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photos/together/row_4_1_43.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_4_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photos/together/row_4_2_43.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_4_2_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photos/together/row_5_1_43.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_5_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photos/together/row_6_1_43.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_6_1_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photos/together/row_6_2_43.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_6_2_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photos/together/row_6_3_43.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_6_3_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>

    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photos/together/row_7_1_34.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_7_1_34.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photos/together/row_7_2_43.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_7_2_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photos/together/row_7_3_34.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_7_3_34.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photos/together/row_7_4_43.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/together/row_7_4_43.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>
</div>
