<h3><%= __('teen_bride') %></h3>

<div class="photoset">
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photos/story/teen_bride_1.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/story/teen_bride_1.jpg"
                    data-ratio="1"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photos/story/teen_bride_2.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/story/teen_bride_2.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>
</div>

<p><%= __('teen_bride_description') %></p>
