<h3><%= __('teen_groom') %></h3>

<div class="photoset">
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photos/story/teen_groom_1.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/story/teen_groom_1.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photos/story/teen_groom_2.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/story/teen_groom_2.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photos/story/teen_groom_3.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/story/teen_groom_3.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photos/story/teen_groom_4.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/story/teen_groom_4.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>
</div>

<p><%= __('teen_groom_description') %></p>
