<p>
    <span class="tf xsmall man-with-tuxido"></span>
    <span class="tf xsmall woman-with-veil"></span>
</p>

<p><%= __('groom_bride_say_thankyou_to_guest') %></p>
<p><%= __('groom_bride_promise') %></p>
