<div id="time-counter">
  <div id="time-counter-container">
    <div>
      <div class="counter-datetime-box"><h2 id="counter-day-idx"></h2></div><br>
      <div class="counter-datetime-unit"><h3><%= __('counter_day_unit') %></h3></div>
    </div>
    <div>
      <div class="counter-datetime-box"><h2 id="counter-hour-idx"></h2></div><br>
      <div class="counter-datetime-unit"><h3><%= __('counter_hour_unit') %></h3></div>
    </div>
    <div>
      <div class="counter-datetime-box"><h2 id="counter-minute-idx"></h2></div><br>
      <div class="counter-datetime-unit"><h3><%= __('counter_minute_unit') %></h3></div>
    </div>
    <div>
      <div class="counter-datetime-box"><h2 id="counter-second-idx"></h2></div><br>
      <div class="counter-datetime-unit"><h3><%= __('counter_second_unit') %></h3></div>
    </div>
  </div>
</div>
