
<p>&nbsp;</p>
<p><%= __('be_married_title') %></p>

<div class="photoset">
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photos/wedding/3.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/wedding/3.jpg"
                />
            </a>
        </figure>
    </div>
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photos/wedding/1.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/wedding/1.jpg"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photos/wedding/2.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/wedding/2.jpg"
                />
            </a>
        </figure>
    </div>
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photos/wedding/4.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/wedding/4.jpg"
                />
            </a>
        </figure>
    </div>
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photos/wedding/5.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/wedding/5.jpg"
                />
            </a>
        </figure>
    </div>
</div>
