<h3><%= __('young_groom') %></h3>

<div class="photoset">
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="https://dnvy4ykljlyqd.cloudfront.net/photos/story/young_groom_1.jpeg">
                <img
                    src="https://dnvy4ykljlyqd.cloudfront.net/static/placeholder.png"
                    data-src="https://dnvy4ykljlyqd.cloudfront.net/photos/story/young_groom_1.jpeg"
                    data-ratio="1.333"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="https://dnvy4ykljlyqd.cloudfront.net/photos/story/young_groom_2.jpeg">
                <img
                    src="https://dnvy4ykljlyqd.cloudfront.net/static/placeholder.png"
                    data-src="https://dnvy4ykljlyqd.cloudfront.net/photos/story/young_groom_2.jpeg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="https://dnvy4ykljlyqd.cloudfront.net/photos/story/young_groom_3.jpeg">
                <img
                    src="https://dnvy4ykljlyqd.cloudfront.net/static/placeholder.png"
                    data-src="https://dnvy4ykljlyqd.cloudfront.net/photos/story/young_groom_3.jpeg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
    </div>
</div>

<p><%= __('young_groom_description') %></p>
