<h3><%= __('young_groom') %></h3>

<div class="photoset">
    <div class="photoset-row">
        <figure class="photoset-item">
            <a href="/photos/story/young_groom_1.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/story/young_groom_1.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photos/story/young_groom_2.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/story/young_groom_2.jpg"
                    data-ratio="0.75"
                />
            </a>
        </figure>
        <figure class="photoset-item">
            <a href="/photos/story/young_groom_3.jpg">
                <img
                    src="/static/placeholder.png"
                    data-src="/photos/story/young_groom_3.jpg"
                    data-ratio="1.33"
                />
            </a>
        </figure>
    </div>
</div>

<p><%= __('young_groom_description') %></p>
