@media screen and (max-width: 1280px) {
    #my-video-idx {
        height: 100% !important;
        width: auto !important;
    }
}

@media only screen and (max-width: 820px) {
    section .wrap {
        padding: 0;
    }

    #story-each .content,
    #story-each .content:first-child {
        margin-top: 5vh;
    }

    #story-each .content.groom {
        padding-left: 10px;
    }

    #story-each .content.bride {
        padding-right: 10px;
    }

    /* body #pink-background section {
        padding: 5vh 10px;
    } */

    #location ul {
        width: 100%;
    }

    .wishes-container {
        width: auto;
        padding: 0 10px;
    }

    .pswp__button.pswp__button--close .pswp__icn,
    .pswp__button.pswp__button--close {
        width: 50px;
        height: 50px;
    }

    /* #play-audio-idx {
        width: 3rem;
        height: 3rem;
    }

    #play-audio-idx img {
        width: 1.4rem;
    } */

    #pink-background section {
        max-width: auto;
    }
}

@media only screen and (max-width: 540px) {
    #time-counter-container {
        width: 80%;
    }

    #time-counter-container .counter-datetime-box {
        width: 2rem;
        height: 2rem;
        border: 2.5px solid white;
    }

    #time-counter-container .counter-datetime-box h2 {
        font-size: 1rem;
    }

    #time-counter-container .counter-datetime-unit h3 {
        font-size: 0.8rem;
    }

    #front a.go-to-wedding {
        left: 0;
        font-size: 0.5rem;
    }

    #front a.go-to-welcome {
        right: 0;
        font-size: 0.5rem;
    }

    #front p {
        font-size: 0.7rem;
    }

    #story-each h3 {
        font-size: 1rem;
    }

    #story-each p {
        font-size: 0.7rem;
    }

    #location ul li a {
        line-height: 1.5rem;
        font-size: 0.5rem;
    }

    #send-wish-idx input,
    #send-wish-idx textarea {
        font-size: 0.5rem;
    }

    body.on-story-each > a.go-to-top {
        right: 0.1rem;
    }

    body.on-story-each > a.share {
        right: 0.1rem;
        bottom: calc(2rem + 0.5rem + 160px);
    }

    body > a.go-to-top,
    body > a.share {
        width: 1.2rem;
        height: 1.2rem;
    }

    body > a.go-to-top img,
    body > a.share img {
        width: 0.8rem;
    }

    body.after-story-each > a.go-to-top {
        right: 0.1rem;
        bottom: 0;
        margin-bottom: 10px;
    }

    body.after-story-each > a.share {
        right: 0.1rem;
        bottom: calc(2rem + 0.5rem + 10px);
    }

    #front h2 {
        font-size: 1.2rem;
    }

    #front a.go-to-wedding,
    #front a.go-to-welcome {
        width: 4rem;
        padding-top: 1.5rem;
    }

    #playground {
        height: 60px;
    }

    #playground .thumb {
        padding: 5px;
        width: fit-content;
    }

    .tf.xsmall {
        background-size: calc(var(--tf-size-xxsmall) * 5)
            calc(var(--tf-size-xxsmall) * 2);
        width: var(--tf-size-xxsmall);
        height: var(--tf-size-xxsmall);
        background-position-x: calc(-5 * var(--tf-size-xxsmall));
        background-position-y: calc(-2 * var(--tf-size-xxsmall));
    }
    .tf.xsmall.baby {
        background-position: 0 0;
    }
    .tf.xsmall.boy {
        background-position: calc(-1 * var(--tf-size-xxsmall)) 0;
    }
    .tf.xsmall.man {
        background-position: calc(-2 * var(--tf-size-xxsmall)) 0;
    }
    .tf.xsmall.man-with-tuxido {
        background-position: calc(-3 * var(--tf-size-xxsmall)) 0;
    }
    .tf.xsmall.girl {
        background-position: calc(-1 * var(--tf-size-xxsmall))
            calc(-1 * var(--tf-size-xxsmall));
    }
    .tf.xsmall.woman {
        background-position: calc(-2 * var(--tf-size-xxsmall))
            calc(-1 * var(--tf-size-xxsmall));
    }
    .tf.xsmall.woman-with-veil {
        background-position: calc(-3 * var(--tf-size-xxsmall))
            calc(-1 * var(--tf-size-xxsmall));
    }
    .tf.xsmall.couple {
        background-position: calc(-4 * var(--tf-size-xxsmall)) 0;
    }
    .tf.xsmall.wedding-hall {
        background-position: calc(-4 * var(--tf-size-xxsmall))
            calc(-1 * var(--tf-size-xxsmall));
    }

    #play-audio-idx {
        width: 1.2rem;
        height: 1.2rem;
        margin-left: 0.1rem;
        margin-bottom: 10px;
    }

    .on-story-each #play-audio-idx {
        margin-bottom: 60px;
    }

    #play-audio-idx img {
        width: 0.8rem;
    }

    body.on-story-each > a.go-to-top {
        bottom: 60px;
    }

    body.on-story-each > a.share {
        bottom: calc(1.2rem + 0.5rem + 50px);
    }

    body.after-story-each > a.share {
        bottom: calc(1.2rem + 0.5rem);
    }

    #front a.go-to-wedding img,
    #front a.go-to-welcome img {
        height: 1.2rem;
    }
    #front a.go-to {
        width: 160px;
        height: 3.4rem;
    }
    #front a.go-to p {
        font-size: 0.5rem;
    }
    #front a.go-to-wedding {
        left: 0.7rem;
    }
    #front a.go-to-welcome {
        right: 0.7rem;
    }
    #front h2#groom-and-bridal-label-idx {
        font-size: 1rem;
    }
    #front p#become-mate-label-idx {
        font-size: 0.7rem;
    }

    .guestbook,
    .wedding-festival {
        width: var(--tf-size-xsmall);
        height: var(--tf-size-xsmall);
    }

    .wedding-festival {
        bottom: calc(-1 * var(--tf-size-xsmall) / 2);
    }

    .guestbook {
        top: calc(-1 * var(--tf-size-xsmall) / 2);
    }

    #wishes {
        padding-top: var(--tf-size-xsmall);
    }

    #wishes h3 {
        font-size: 1rem;
    }

    #thanks-to {
        font-size: 0.7rem;
    }

    .wishes-container h5 {
        font-size: 0.7rem;
    }

    #story-together {
        padding: 0;
    }

    #language-switcher {
        margin-top: 0.1rem;
        margin-right: 0.1rem;
    }
}

@media only screen and (max-width: 414px) {
    #time-counter-container .counter-datetime-box h2 {
        font-size: 0.8rem;
    }

    #time-counter-container .counter-datetime-box {
        width: 1.5rem;
        height: 1.5rem;
    }

    #time-counter-container .counter-datetime-unit h3 {
        font-size: 0.6rem;
    }

    #front h2,
    #story-each h3 {
        font-size: 0.8rem;
    }

    #front p,
    #story-each p {
        font-size: 0.6rem;
    }

    #story-each h3 {
        padding: 0 0 0.5rem 0;
    }

    #story-each .content,
    #story-each .content:first-child {
        margin-top: 0;
    }

    #welcome p {
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 384px) {
    #location ul li {
        width: 100%;
        padding: 0.1rem 0;
    }
}
