#wishes {
    padding-top: var(--tf-size-default);
    padding-bottom: 1rem;
}
#wishes h3 {
    text-align: center;
}

.wishes-container {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.wishes-container h5 {
    font-weight: 200;
    margin-bottom: 20px;
    text-align: center;
}

#view-wish-idx {
    height: 50vh;
    overflow-x: scroll;
    outline: 10px solid var(--pink-background);
    outline-offset: -10px;
    width: 100%;
    margin: auto;
}

#view-wish-idx .wish {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 0.5rem;
}

#view-wish-idx .wish-username {
    font-weight: bold;
    margin-bottom: 5px;
}

#view-wish-idx .wish-content {
    font-weight: 200;
    font-style: italic;
}

#view-wish-idx .odd {
    background-color: none;
}

#view-wish-idx .even {
    background-color: var(--pink-background);
    color: var(--pink-color);
}

#send-wish-idx {
    width: 100%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

#send-wish-idx input,
#send-wish-idx button,
#send-wish-idx textarea {
    line-height: 1.5;
    padding: 1px 5px;
    font-size: 0.83em;
    font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;
    border-radius: 5px;
}

#send-wish-idx button {
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: var(--pink-background-color);
    color: #f9f9f9;
}

.wish-control {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.col-2 > div {
    position: relative;
    width: 45%;
}

.col-2 > div input {
    display: block;
    width: 100%;
}

.col-1 > div {
    position: relative;
    width: 100%;
    display: contents;
}

.col-1 > div textarea {
    display: block;
    width: 100%;
    resize: vertical;
}

.col-1 > div input {
    display: block;
    width: 100%;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
        Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
        "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", sans-serif;
    cursor: pointer;
    border: none;
    transition: 0.2s ease;
}

.col-1 > div input:hover {
    transition: 0.2s ease;
}

.content-left {
    display: flex;
    justify-content: left;
}

.content-right {
    display: flex;
    justify-content: right;
}

.guestbook {
    background-image: url(/static/guestbook.png);
    width: var(--tf-size-default);
    height: var(--tf-size-default);
    display: inline-block;
    background-size: cover;
    position: absolute;
    top: calc(-1 * var(--tf-size-default) / 2);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.wedding-festival {
    background-image: url(/static/wedding-festival-bg.png);
    width: var(--tf-size-default);
    height: var(--tf-size-default);
    display: inline-block;
    background-size: cover;
    position: absolute;
    bottom: calc(-1 * var(--tf-size-default) / 2);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

#send-wish-btn-idx:hover {
    transition: 0.2s ease;
    background-color: var(--pink-background-color-lighter);
    color: #ffffff;
}

.input-error {
    border: 2px solid red;
}

textarea:focus,
input:focus {
    outline: none;
}
